body {
  padding: 15px;
  font-family: "Open Sans";
}

.main-container {
  padding: 20px;

  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  min-height: 929px;
  height: 100%;

  display: flex;
  gap: 10px;

  background-color: #ededed;
  border-radius: 16px;
}

.main-items-container {
  padding: 10px;

  width: 953px;
  min-height: 929px;

  display: flex;
  justify-content: start;

  flex: 3;
  flex-wrap: wrap;
  gap: 10px;
}

.side-bar-container {
  padding: 26px;

  width: 100%;
  height: 829px;

  flex: 1.2;
  display: flex;
  flex-direction: column;

  border-left: 3px solid #1a1f1680;
}

.main-item {
  padding: 16px;

  width: 223px;
  height: 403px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-item__img {
  width: 191px;
  height: 232px;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;

  border-radius: 22px;
}

.main-item__model {
  margin-top: 16px;
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 800;
  line-height: 27px;
}

.main-item__series {
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 22px;
}

.main-item__price {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 800;
}

.main-item__btn-add-to-cart {
  height: 34px;
  width: 34px;
}

.side-bar-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.side-bar-cart__amount {
  margin-bottom: 15px;

  font-size: 39px;
  font-weight: 800;
}

.side-bar-cart-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.side-bar-cart-items__item {
  background-color: #ffffff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 12px;

  height: 80px;
  width: 80px;
}

.side-bar-cart-items__btn {
  height: 43px;
  width: 163px;

  border-radius: 14px;
}

.side-bar-cart-items__btn-wrapper {
  margin: 15px 0 15px 0;
  display: flex;
  justify-content: center;
}

.side-bar-orders {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
}

.side-bar-orders__header {
  font-size: 30px;
}

a {
  margin-top: 15px;
  font-size: 20px;
}

.item__img {
  margin-right: 30px;

  width: 258px;

  background-image: url("https://s3-alpha-sig.figma.com/img/fa1f/be64/ed50c4462e52d610e63d19d62e7f6845?Expires=1728864000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=CeGwpq0L5X5JswIUNffHFGNphmASPDnbMFTrITJxZbHTEG1gltukQkEcyCCD-WPZYbcg2lNYFZZfbLBjz1owaB3gUe2rMVFIomrMrjdLx1hfHSYyRygGbJLQHd3FZ3iytQvpqwRkc7OZVYgZTDzTkY78MO-fZHRiYHugZ6EtvPNDgNGh7Rgltgcr3XXToe8SnqrCDluBibVatd4iImNG62O8RCroCHfltZnQkIKVeVx4VP4WuQj77bGdUXiATm8s8vviRj4VYKXdTLRzVO0vgH6AeSnvqOLwCcCWDaNjNwvRsjPMLxns7QAGS5nxUUqeiv8nCYksySCT6lNuZKuIFw__");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  background-color: white;
  border-radius: 13px;
}

.item-container {
  max-width: 900px;
  width: 100%;
}

.item {
  margin-bottom: 40px;

  display: flex;
  flex-direction: row;

  background-color: white;
  border-radius: 15px;
}

.item-info-wrapper {
  max-width: 607px;
  width: 100%;
}

.item__model {
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;

  color: #1a1f16;
}

.item__series {
  margin-bottom: 20px;

  font-size: 31px;
  line-height: 42px;

  color: #1a1f1680;
}

.item__rating {
  margin-top: 15px;
  margin-bottom: 15px;

  font-size: 25px;
}

.item__price {
  margin-bottom: 20px;

  font-size: 31px;
  line-height: 42px;

  color: #1a1f16;
}

.item__description-short {
  font-size: 21px;
  line-height: 20px;

  color: #1a1f16;
}

.item__description-wrapper {
  padding: 30px;

  border-top: 3px solid #1a1f1680;
}

.item__description {
  font-size: 25px;
}

.item__description-header {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 30px;
}

.item-back-btn {
  margin-bottom: 15px;
}

.cart-header {
  margin-bottom: 20px;

  font-size: 30px;
  font-weight: 700px;
}

.item__count-wrapper {
  display: flex;
  justify-content: space-between;
}

.count-container {
  margin-bottom: 15px;
  margin-right: 25px;

  width: 100px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.count-dec,
.count-inc {
  padding: 0;

  width: 30px;
  height: 30px;

  font-weight: 700;
  font-size: 25px;
}
