body {
  font-family: Open Sans;
  box-sizing: border-box;
}
.main-container {
  margin: 0 auto;

  max-width: 1440px;
  width: 100%;
  min-height: 1024px;
  height: 100%;

  background-color: #ededed;
  border-radius: 16px;

  display: flex;
}

.checkout-info-container {
  padding-top: 102px;
  padding-left: 102px;

  max-width: 871px;
  width: 100%;
}

.checkout-address-container {
  max-width: 871px;
  width: 100%;
  max-height: 247px;
  height: 100%;

  background-color: white;
  border-radius: 13px;

  display: flex;
  flex-direction: column;
}

.checkout-address-info__header,
.checkout-payment__header,
.checkout-cart-items__header {
  padding: 16px 0px 8px 16px;

  font-size: 31.25px;
  font-weight: 400;
  line-height: 42.56px;
  text-align: left;
}

.checkout-address-info-container {
  padding-left: 16px;

  max-width: 297px;
  width: 100%;
  height: 148px;
}

.checkout-address-info__name,
.checkout-address-info__address,
.checkout-address-info__city,
.checkout-address-info__number {
  padding-bottom: 8px;

  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.24px;
  text-align: left;
}

.check-out-info-btn-wrapper {
  width: 124px;
}

.info-btn-wrapper {
  padding-right: 16px;

  display: flex;
  justify-content: space-between;
}

.check-out-info-edit-btn,
.payment-method-change-btn {
  width: 124px;
  height: 38px;
  padding: 8px 24px 8px 24px;
  gap: 8px;
  border-radius: 11px;
  border: 1px solid #1a1f16;
  opacity: 0px;
}

.checkout-payment-container {
  margin-top: 24px;

  max-width: 871px;
  width: 100%;
  height: 153px;

  background-color: white;
  border-radius: 13px;

  display: flex;
  flex-direction: column;
}

.checkout-payment-method-container {
  padding-left: 16px;
  padding-right: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-payment-method__type {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
}

.checkout-pricing-container {
  margin-top: 102px;
  margin-left: 164px;

  width: 243px;
  height: 264px;

  background-color: white;
  border-radius: 12px;
}

.checkout-pricing__header {
  margin: 16px;

  font-size: 20px;
  font-weight: 400;
  line-height: 27.24px;
}

.checkout-pricing-items__title,
.checkout-pricing-items__amount,
.checkout-pricing-delivery__title,
.checkout-pricing-delivery__amount {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  letter-spacing: -0.02em;
  text-align: left;
}

.delivery-amount-wrapper,
.items-amount-wrapper,
.checkout-pricing__amount {
  margin: 16px;

  display: flex;
  justify-content: space-between;
}

.checkout-btn {
  margin: 16px;

  width: 211px;
  height: 38px;
  padding: 8px 24px 8px 24px;
  gap: 8px;
  border-radius: 11px;
}

.checkout-cart-items-container {
  margin-top: 24px;

  max-width: 871px;
  width: 100%;

  border-radius: 13px;

  background-color: white;
}

.cart-item__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("https://s3-alpha-sig.figma.com/img/a59b/e921/b717e6a8aa9cb044830534c363db26ab?Expires=1729468800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=J~YlG7agthSkox32WYLi8hHFXpG6fRHHHQK6SJNJmqwOJD-b-iS6lA1iZ0dVQNc58dmOJnpUC0YpX8XwvpcxZVN-AM3vmCa6uSjSYOw0b-fHbWczieIHKOOF1m5VbSadX48SZjK20qvbfZwaXRR1yJ8YUsfXYhjMZKODKRUFpiZ9q5QA3k9pi69BRXm1WRdVFhJMyO9iE3nzaZWCNUY3ToCiJGYbI2zVzBH4Qq3y8htFeveiQRZC6oQQgfuvmreQUyvSBJpg1FP2M0KXHJcmD-1B2OrICIyeJMvOlVa~E4LbO7E8JghfGWfkDeN~TjJy6N60Hwai4RuJmsqnzE4WFg__");
  width: 203px;
  height: 254px;
}

.cart-item {
  margin-top: 20px;

  display: flex;
  gap: 16px;
}

.cart-item__model {
  font-size: 31.25px;
  font-weight: 400;
  line-height: 42.56px;
  text-align: left;
}

.cart-item__series,
.cart-item__description-short,
.cart-item__rating,
.cart-item__amount {
  margin-top: 15px;

  font-size: 20px;
  font-weight: 400;
  line-height: 27.24px;
}

.underline {
  margin: 0 auto;

  width: 95%;
  border: 1px solid #1a1f163d;
}
